 #overlay {
            background: #000;
            filter: alpha(opacity=50); /* IE的透明度 */
            opacity: 0.5; /* 透明度 */
            display: none;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 10001; /* 此处的图层要大于页面 */
            display: none;
        }

        .close {
            float: right;
            margin: 5px 25px;
            right: 1%;
        }

            .close a {
                color: #00F !important;
            }

        #rights {
             z-index: 10002;
    width: 600px;
    height: 500px;
    position: absolute;
    display: none;
    background: #FFF;
    overflow-x: hidden;
    top: 34px !important;

        }
