
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>国家税务总局厦门市电子税务局</title>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <script>
        function releaseSession() {
            window.location.href = "/wssb/wssb/public/jsp/logoutGZ.jsp";
        }
    </script>
</head>

<frameset rows="105,*" cols="*" frameborder="NO" border="0" framespacing="0" onunload="releaseSession();">
    <frame name="topFrame" scrolling="NO" src="/wssb/wssb/layout/top.jsp">
    <frame name="mainFrame" id="mainFrame" src="/wssb/wssb/layout/center.jsp?sblx=ZZS_YBNSR&isdyyq=1&isqs=null" "  noresize=" noresize" scrolling="no" />
</frameset>
<noframes>
</html>
