<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.5" />
    <sessionState cookieless="false" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="480" />
    <customErrors mode="Off" />
    <!--<customErrors defaultRedirect="/Error/500.html" mode="On">
      <error statusCode="401" redirect="/Error/401.html" />
      <error statusCode="402" redirect="/Error/402.html" />
      <error statusCode="403" redirect="/Error/403.html" />
      <error statusCode="404" redirect="/Error/404.html" />
      <error statusCode="405" redirect="/Error/405.html" />
      <error statusCode="406" redirect="/Error/406.html" />
      <error statusCode="412" redirect="/Error/412.html" />
      <error statusCode="500" redirect="/Error/500.html" />
      <error statusCode="501" redirect="/Error/501.html" />
      <error statusCode="502" redirect="/Error/502.html" />
    </customErrors>-->
  </system.web>
  <appSettings>
    <!--接口地址-->
    <add key="tikupath" value="http://192.168.1.115:2211" />
    <!--<add key="tikupath" value="http://192.168.10.186:8200" />-->
    <!--开票接口地址-->
    <add key="billpath" value="http://192.168.1.72:8022" />
    <!-- 主数据库 1.72群哥本机地址-->
    <!--<add key="Practicepath" value="http://192.168.10.171:8044/" />-->
    <add key="Practicepath" value="http://192.168.1.112:8080" />
    <!--<add key="Practicepath" value="http://192.168.1.72:8044" />-->

    <add key="CourseId" value="257" />
  </appSettings>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".jsp" mimeType="text/html" />
            <mimeMap fileExtension=".do" mimeType="text/json" />
          <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>

</configuration>
