@CHARSET "UTF-8";/**新版本css修改**/
/**
单选框-复选框
**/

/* table{
	border: 1px solid #999;
	font-size:14px;
} */
button.xf-btn,button.xf-btn-default,a.xf-btn,a.xf-btn-default,button,input[type='submit'],input[type='button'],input[type='reset']{
	color: #fff;
	text-align: center;
    vertical-align: middle;
	font-size: 14px;
    background-color:#53ACF3;
    position: relative;
    z-index: 1000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border: 1px solid #53ACF3;
    border-radius:3px;
    behavior: url(/res/PIE-1.0.0/PIE.htc);
    overflow: hidden;
    box-sizing: border-box;
}
table.xf-table > thead > tr > th, .xf-table > tbody > tr > th, .xf-table > tfoot > tr > th, .xf-table > thead > tr > td, .xf-table > tbody > tr > td, .xf-table > tfoot > tr > td {
	font-size: 14px;
	border: 1px solid #999
}
table tr.title td{
	font-size:16px;
}
table tr td{
	height: 32px;
	font-size:14px;
}
table tr td input,table tr td select,table tr td a{
	font-size:14px;
}
table tr td.STYLE1,table tr td p span.STYLE1{
	color: #FF7E6E;
}
table tr.head td,table tr.head th{
	padding-left: 0px;
	font-size: 14px;
	line-height: 36px;
    color: #333;
    background-color: #f7f7f7;
}
.pageTitle {
    color: #333;
}
.comment{
	font-size:14px;
}
.xf-btn{
	font-size:14px;
}
tr.blue{
	background-color: #fff;
}
tr.title {
     color: #333;
    background-color: #f7f7f7;
    font-weight: bold;
}
div.query_page_title {
	color:#333;	
}
.box1{
width: 50px;
height: 50px;
background-color: #34538b;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
behavior: url(/res/css/PIE.htc);    
}
.box4{
width: 50px;
height: 50px;
background-color: #34538b;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
behavior: url(PIE.htc);
	    
}
.box2{
width: 50px;
height: 50px;
background-color: #34538b;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
behavior: url(/res/css/pie.htc);    
}
.box3{
width: 50px;
height: 50px;
background-color: #34538b;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
behavior: url(pie.htc);    
}

label.che {
	font-size:16px;
	cursor:pointer;
}
label.che i {
	font-size:16px;
	font-style:normal;
	display:inline-block;
	width:16px;
	height:16px;
	text-align:center;
	line-height:16px;
	color:#fff;
	vertical-align:middle;
	margin:-2px 8px 1px 0px;
	border:#d0d0d0 1px solid;
	border-radius: 2px;
}
label.che input[type="checkbox"],label.che input[type="radio"] {
	display:none;
}
label.che input[type="radio"] + i {
	border-radius:9px;
}
label.che input[type="checkbox"]:checked + i,label.che input[type="radio"]:checked + i {
	background:#0994dc;
}
label.che input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {
	border-color:#ccc;
	background: #f8f8f8;
	color: #f8f8f8;
}
label.che input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {
    background: #f8f8f8;
	color: #e8e8ee;
}
.size14{
	font-size:14px;
}
.marg_top12{
	margin-top: 12px;
}
.hintColor{
	color: #FF7E6E
}
.height36{
	line-height: 36px;
}
.width0{
	width:0px;
}
.pad0{
	padding:0px;
}
.textCenter{
	text-align: center;
}
.noBorder{
	border: none;
}
tr.bgWhite{
	background:white;
}
/**缴税流程图**/
td.h1_14w,li.h1_14w{
	font-size: 16px;
	color: #099adc;
	width: 152px!important;
	line-height: 32px;
	height: 32px;
}
td.v2_h1_14w,li.v2_h1_14w{
	font-size: 16px;
	color: #099adc;
	width: 152px!important;
	line-height: 32px;
	height: 32px;
}
td.v2_h1_14b,li.v2_h1_14b {
    font-size: 12px;
    color: #000;
    font-size: 16px;
    color: #666666;
    width: 152px!important;
    line-height: 32px;
    height: 32px;
}
td.h1_14b,li.h1_14b {
    font-size: 12px;
    color: #000;
    font-size: 16px;
    color: #666666;
    width: 152px!important;
    line-height: 32px;
    height: 32px;
}
/* .btn {
    text-align: center;
    vertical-align: middle;
    height: 36px;
    width: 130px;
    font-size: 16px;
    background-color: #53ACF3;
    position: relative;
    z-index: 1000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #53ACF3;
    border-radius: 50%;
    behavior: url(/res/css/PIE.htc);
    overflow: hidden;
} */
.borderRadius{
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
background: #ABCDEF;
behavior: url(/res/css/PIE.htc);
}
/**按钮**/
.bottBlue{
    text-align: center;
    vertical-align: middle;
    height: 36px;
	width: 130px;
	font-size: 16px;
    background-color:#53ACF3;
    position: relative;
    z-index: 1000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border: 1px solid #53ACF3;
    border-radius:3px;
    behavior: url(/res/PIE-1.0.0/PIE.htc);
    overflow: hidden;
    box-sizing: border-box;
}
.printBtn{
	height: 28px;
	width: 60px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/res/PIE-1.0.0/PIE.htc);
	border: 1px solid #53ACF3;
	background-color: #53ACF3;
	color: #FFF;
	font-size: 12px;
	box-sizing: border-box;
	margin-right: 4px
}
.tbBtn{
	height: 28px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/res/PIE-1.0.0/PIE.htc);
	border: 1px solid #53ACF3;
	background-color: #53ACF3;
	color: #FFF;
	font-size: 14px;
	box-sizing: border-box;
	margin-right: 4px
}
.printBtn_bot5{
	margin-bottom: 5px;
}
/*标题*/
.v2_title{
	color:#333;
	font-size:16px;
	font-weight: bold;
	line-height: 36px;
}
.border {
    border: 1px solid #999;
}
/**边框**/
.v2_border{
	border: 1px solid #999;
}
/** 表头**/
.v2_th{
	color:#333;
	font-size:14px !important;
	font-weight: bold;
	line-height: 36px;
}
/** form表单形式的表格字体颜色、大小、不缩进**/
.v2_table td,div.v2_table{
	color:#666;
	font-size:14px;
	line-height: 32px;
}
.v2_table td div{
	color:#666;
	font-size:14px;
	line-height: 32px;
}
.v2_table input[type="text"]{
	font-size: 14px;
	height: 32px;
	padding-left: 8px;
	box-sizing: border-box;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	behavior: url(/res/PIE-1.0.0/PIE.htc);
    overflow: hidden;
}

.v2_table select{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 32px;
	font-size: 14px;
	color: #666666;
}
/** 表格的样式**/
.v2table {
	 border-collapse: collapse;
	 border: 1px solid #999;
}
.v2table tr td{
	padding-left: 8px;
	font-size: 14px;
	line-height: 32px;
    color: #333;
    border: 1px solid #999;
}
.v2table td div{
	padding-left: 0px;
	color:#333;
	font-size:14px;
	line-height: 32px;
}
.v2table tr.tit td{
	padding-left: 0px;
	font-size: 14px;
	line-height: 36px;
    color: #333;
    background-color: #f7f7f7;
}

.v2table select{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 28px;
}

.v2table input.in{
    padding-left: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    behavior: url(/res/PIE-1.0.0/PIE.htc);
    overflow: hidden;
    height: 30px;
    width: 98%;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    margin-top: 2px;
    margin-bottom: 2px;
}

}
input.in{
	padding-left: 8px;
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-sizing: border-box;
}
table.v2_xf_table{
	border: 1px solid #999;
}
table.v2_xf_table > tbody > tr > th{
	background-color: #f7f7f7;
	font-size:14px;
	border: 1px solid red;
}
table.v2_xf_table > tbody > tr > td{
	font-size:14px;
}
table.v2_xf_table th{
	background-color: #f7f7f7;
	font-size: 14px;
    border: 1px solid #999 !important;
}
/** 翻页按钮**/
.tabpage-refresh {
	width: 16px;
	height: 16px;
    background-image: url("/res/otp4/images/refresh.gif");
}
}