.page-bar{
  padding:0px 8px;
  height:30px;	
  border-top: 1px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  /*background-image:url("../images/toolbg.jpg");*/
  background-color: #f5f5f5;
  border-color: #ddd;  
}
.page-bar-group{
	display:inline-block;
	_zoom:1;
	*display:inline;
	/*
	vertical-align:middle;
	height:30px;
	*/
}

.page-bar-item{
	display:inline-block;
	_zoom:1;
	*display:inline; 
	vertical-align:middle;
	/*height:30px;*/
	padding:5px 3px 5px 0px;
}

.page-btn{
	border:1px solid #cacaff;	
	display:inline-block;
	margin:1px;
	width:16px;
	height:16px;
}
.page-btn:hover{
	border:1px solid #32acde;
}




.page-first{
	background-image:url("../images/page-first.gif");
}
.page-last{
	background-image:url("../images/page-last.gif");
}

.page-next{
	background-image:url("../images/page-next.gif");
}

.page-prev{
	background-image:url("../images/page-prev.gif");
}

.page-go{
	background-image:url("../images/page-go.gif");
}

.page-bar-item a[disabled],
.page-bar-item a[disabled]:hover  
{
	cursor:default;
	border:1px solid #DDD;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5;
	opacity:0.5;	
}

