@charset "utf-8";
/* CSS Document */
* {
	margin:0
	}
.ticket_fun {
	width:940px;
	border:0px solid #000;
	background:#FFFFFF;
	padding:6px 0px 0px 0px;
	text-align:center;
	margin-left:30px;
	}
.ticket_fun .fun_row {
	border-bottom:1px dashed #BEE1EB;
	padding-bottom:5px;
	height:24px;
	}
.ticket_fun .fun_row .fun_title {
	height:24px;
	line-height:24px;
	float:left;
	}
.ticket_fun .fun_row .fun_btn {
	height:24px;
	float:right;
	}
.ticket_fun .fun_row .fun_btn .btn {
	margin:0 2px;
	padding:0px 0px;
	}
.ticket_fun .fun_row strong,.ticket_fun .fun_row span {
	font-size:15px;
	}
.ticket_fun .fun_row span {
	margin-right:20px;
	}
.ticket_fun .fun_row .state {
	color:#FF6600;}	
.ticket_fun .fun_prompt {
	height:20px;
	padding-top:4px;
	margin-left:0px;
	}
.ticket_fun .fun_prompt span {
	color:#666;
	font-size:13px;
	line-height:20px;
	}
.ticket_fun .fun_prompt .wrong {
	color:#CC0000;
	}
.step_coulmn {
	padding-left:30px;
	padding-right:25px;
	height:36px;
	width:959px;
	margin:10px 0;
	}
.step_coulmn_new {
	padding-left:3px;
	padding-right:2px;
	height:10px;
	width:959px;
	margin:10px 0;
	}
.step_coulmn dt {
	width:160px;
	height:36px;
	line-height:36px;
	text-align:center;
	background:url(/images/YhCzDh/step.png) scroll no-repeat 0 0;
	float:left;
	position:relative;
	}
.step_coulmn dt em {
	line-height:36px;
	height:36px;
	padding:0 12px;
	background:url(/images/YhCzDh/wrong_ico.gif) scroll no-repeat 50% 50%;
	display:none;
	}
.step_coulmn dt strong {
	font-size:17px;
	color:#666666;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	}
.step_coulmn dt span {
	font-size:14px;
	color:#999999;
	font-weight:bold;
	}
.step_coulmn dt.succeed {
	background:url(/images/YhCzDh/step.png) scroll no-repeat 0 -36px;
	}
.step_coulmn dt.succeed strong {
	color:#7EBBE8;
	}
.step_coulmn dt.succeed span {
	color:#1E3E93;
	}
.step_coulmn dt.working {
	background:url(/images/YhCzDh/step.png) scroll no-repeat 0 -72px;
	}
.step_coulmn dt.working strong {
	color:#99CC00;
	}
.step_coulmn dt.working span {
	color:#999900;
	}
.step_coulmn dt.wrong {
	background:url(/images/YhCzDh/step.png) scroll no-repeat 0 -108px;
	}
.step_coulmn dt.wrong strong {
	color:#FF9900;
	}
.step_coulmn dt.wrong span {
	color:#EC884C;
	}
.step_coulmn dt.wrong em {
	display:inline-block;
	}
.step_coulmn dd {
	width:30px;
	height:36px;
	background:url(/images/YhCzDh/step_ico.png) scroll no-repeat 50% 50%;
	float:left;
	}
	
.ticket_fun_2 {
	width:972px;
	border:0px solid #000;
	background:#FFFFFF;
	padding:6px 0px 0px 0px;
	text-align:center;
	margin-left:0px;
	}
.ticket_fun_2 .fun_row {
	border-bottom:1px dashed #BEE1EB;
	padding-bottom:5px;
	height:24px;
	}
.ticket_fun_2 .fun_row .fun_title {
	height:24px;
	line-height:24px;
	float:left;
	}