<style type="text/css">


/*全局风格*/


body{


  font-size: 9pt;


  color: #000000;


  font-family: 宋体, Arial, 'Times New Roman';


	margin-left: 0px;


	margin-top: 0px;


	margin-right: 0px;


	margin-bottom: 0px;


	background-color: #D5E5EB;


}


div{


  font-size: 9pt;


  color: #000000;


  font-family: 宋体, Arial, 'Times New Roman';


}





/**************************/


/*超级链接属性，带下划线，正常为蓝色，鼠标移上或点击时红色*/


A:link {


	text-decoration: underline;


	color: #0000FF


}


A:hover {


	text-decoration: underline;


	color: #FF0000


}


A:active {


  text-decoration: underline;


  color: #FF0000


}


A:visited {


	text-decoration: underline;


  color: #0000FF


}





/**************************/


/*通常表格，无边框线*/


table {


  font-size: 9pt;


  text-align: left;


}


/*细表格线表格*/


/*


在每个table标签里设置：


 cellspacing="0" cellpadding="0" border="1" bordercolorlight="#000000" bordercolordark="#FFFFFF"


*/





/*表格标题宝石蓝背景色*/


tr.title {


	background-color:#6699CC;


	color:#FFFFFF;


	font-weight: bold;


}


/*表头淡灰背景色，文字居中*/


tr.head {


	background-color:#DFDFDF;


  font-weight: bold;


  text-align: center;


}

tr.skjnhead {


	background-color:#D9ECFA;


  text-align: center;


}



/*对于功能页面表头固定的纳税人信息区带淡蓝色背景的样式*/


tr.blue {


	background-color:#D7EBFF;


}

td.blue {


	background-color:#D7EBFF;


}

/*细表格线TD，表格线黑色*/


td.border{


  border-collapse: collapse;


  border: 1px solid #555555;


}





/**************************/


/*基本输入控件风格*/


input {


  font-size: 9pt;


	color: #000000;


	font-family: 宋体, Arial, 'Times New Roman';


}


/*平面输入控件, 背景透明*/


input.flat {


	border-style:solid;


	border-width: 1px;


	border-color: #000000;


	background-color: transparent;


}


/*无边框输入控件，背景透明*/


input.noBorder {


	background-color: transparent;


	border : 0px;


}


input.noBorder_number {


	background-color: transparent;


	border : 0px;


  text-align : right;


}


input.noBorderButton {


	background-color: transparent;


	border : 0px;


  color: #0000FF;


  text-decoration : underline;


  star : expression(onmouseover=function() {this.style.color="#FF0000"}, onmouseout=function(){this.style.color="#0000FF"})


}


/*只有下划线的输入框*/


input.line {


  background-color: transparent;


  border-bottom : 1px solid #555555;


  border-left : 0px;


  border-right : 0px;


  border-top : 0px;


}


/*只有下划线的输入框*/


input.line_number {


  background-color: transparent;


  border-bottom : 1px solid #555555;


  border-left : 0px;


  border-right : 0px;


  border-top : 0px;


  text-align : right;


}


input.button{





}


/*多行文本框基本风格*/


textarea{


	font-size:9pt;


}


/*无边框多行文本框*/


textarea.noBorder {


  border-style: solid;


  border-width: 0;


}


/**************************/


/*自定义样式类*/


/*必输字段的提示风格（蓝色）*/


.hint {


	color: #0000FF;


}


/*功能页面标题样式*/


.pageTitle {


  font-size:18pt; color:#0000FF; font-family:隶书,楷体,宋体, Arial, 'Times New Roman';

}


/*页面中填写说明样式，如果使用表格定位，不能有表格线*/


.comment {


  background-color: #EFF4FC;


  font-size:9pt;


  font-family: 新宋体,宋体, Arial, 'Times New Roman';


  line-height: 1.5;


  width: 100%;


}


.comment_big{


  background-color: #EFF4FC;


  color: red;


  font-size: 12pt;


  font-weight: bold;


  font-family: 新宋体,宋体, Arial, 'Times New Roman';


  line-height: 1.5;


}





.msgtitle1 {


	color: #FF6600;


	font-weight: bold;


  padding: 22px 0px 0px 0px;


  vertical-align : top;


  text-align: center;


}


.msgtitle2 {


	color: #0000CC;


	font-weight: bold;


}


.footnav {color: #FFFFFF}





/************************************************/


/*


TAB页相关样式


目前在房地产管理功能、税务登记功能有使用TAB页


*/


table.hide-table {


	display: none


}


table.show-table {


	display: block


}


td.tab-on {


	width: 120px;


	cursor: pointer;


	color: White;


	padding-top: 2px;


	background-color: #6699CC;


  text-align: center;


  font-weight: bold


}


td.tab-off {


	width: 120px;


	cursor: pointer;


	color:  #666666;


	padding-top:  2px;


	background-color:  White;


  text-align: center;


  font-weight: bold


}


/*


td.tab-none {


    padding-left: 2px;


    padding-top: 2px;


    padding-right: 2px;


    padding-bottom: 2px;


    border-left: #cccccc 1px solid;


    border-top: #cccccc 1px solid;


    border-right: #cccccc 1px solid;


    border-bottom: #cccccc 1px solid;


}


td.tab-content {


    padding-left: 5px;


    padding-top: 5px;


    padding-right: 5px;


    padding-bottom: 5px;


    border-left: #cccccc 1px solid;


    border-top: #cccccc 1px solid;


    border-right: #cccccc 1px solid;


    border-bottom: #cccccc 1px solid;


    vertical-align: top;


    background-color: #ffffff


}


*/

/*新增加*/

.menu-bottom {

	background-image: url(../../images/left_menu_bottom.gif);

	background-repeat: repeat-x;

	background-position: bottom;

}

.red12 {

	font-size: 12px;

	line-height: 20px;

	color: #DB0000;

	text-decoration: none;

}

.blue12 {

	font-size: 12px;

	color: #225FA3;

}

.blue14 {

	font-size: 14px;

	font-weight: bold;

	color: #225FA3;

}

.orange12 {

	font-size: 12px;

	color: #FF6400;

}

a.ablue12:link {

	font-size: 12px;

	color: #225FA3;

	text-decoration: none;



}

a.ablue12:visited {

	font-size: 12px;

	color: #225FA3;

	text-decoration: none;

}

a.ablue12:hover {

	font-size: 12px;

	color: #225FA3;

	text-decoration: underline;

}

a.ablue12:active {

	font-size: 12px;

	color: #225FA3;

	text-decoration: none;

}



a.ablack12:link {

	font-size: 12px;

	color: #000000;

	text-decoration: none;



}

a.ablack12:visited {

	font-size: 12px;

	color: #000000;

	text-decoration: none;

}

a.ablack12:hover {

	font-size: 12px;

	color: #000000;

	text-decoration: underline;

}

a.ablack12:active {

	font-size: 12px;

	color: #000000;

	text-decoration: none;

}


/*涉税鉴证CSS*/
.ssjz_zt_chuhao {
	font-size: 56px;
}
.ssjz_zt_chuhao_low {
	font-size: 48px;
}
.ssjz_zt_1hao {
	font-size: 34px;
}
.ssjz_zt_1hao_low {
	font-size: 32px;
}
.ssjz_zt_2hao {
	font-size: 29px;
}
.ssjz_zt_2hao_low {
	font-size: 24px;
}
.ssjz_zt_3hao {
	font-size: 21px;
}
.ssjz_zt_3hao_low {
	font-size: 20px;
}
.ssjz_zt_4hao {
	font-size: 18px;
}
.ssjz_zt_4hao_low {
	font-size: 16px;
}
.ssjz_zt_5hao {
	font-size: 14px;
}
.ssjz_zt_5hao_low {
	font-size: 12px;
}
.ssjz_zt_6hao {
	font-size: 10px;
}
.ssjz_zt_6hao_low {
	font-size: 8px;
}

.ssjz_zt_chuhao_b {
	font-size: 56px;
  font-weight: bold;
}
.ssjz_zt_chuhao_low_b {
	font-size: 48px;
  font-weight: bold;
}
.ssjz_zt_1hao_b {
	font-size: 34px;
  font-weight: bold;
}
.ssjz_zt_1hao_low_b {
	font-size: 32px;
  font-weight: bold;
}
.ssjz_zt_2hao_b {
	font-size: 29px;
  font-weight: bold;
}
.ssjz_zt_2hao_low_b {
	font-size: 24px;
  font-weight: bold;
}
.ssjz_zt_3hao_b {
	font-size: 21px;
  font-weight: bold;
}
.ssjz_zt_3hao_low_b {
	font-size: 20px;
  font-weight: bold;
}
.ssjz_zt_4hao_b {
	font-size: 18px;
  font-weight: bold;
}
.ssjz_zt_4hao_low_b {
	font-size: 16px;
  font-weight: bold;
}
.ssjz_zt_5hao_b {
	font-size: 14px;
  font-weight: bold;
}
.ssjz_zt_5hao_low_b {
	font-size: 12px;
  font-weight: bold;
}
.ssjz_zt_6hao_b {
	font-size: 10px;
  font-weight: bold;
}
.ssjz_zt_6hao_low_b {
	font-size: 8px;
  font-weight: bold;
}

.query_page_title{
	font-size:18pt; color:#0000FF; font-family:隶书,楷体,宋体, Arial, 'Times New Roman'; text-align:center;
}

.query_page_table{
	width:100%;
	border-top:1px black solid;border-right:0 ;border-bottom:0 ;border-left:1px black solid;
}

.query_page_table td{ border-top:0;border-right: 1px black solid ;border-bottom:1px black solid ;border-left:0;}

.xf-table {
	border:0px;
}

.xf-table > thead > tr > th,
.xf-table > tbody > tr > th,
.xf-table > tfoot > tr > th,
.xf-table > thead > tr > td,
.xf-table > tbody > tr > td,
.xf-table > tfoot > tr > td {
  padding: 0px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
}

.xf-table thead{
	background-color:#DFDFDF;
  	font-weight: bold;
  	text-align: center;
}

.xf-table thead th{
	font-size:12px;
}
</style>


