@CHARSET "UTF-8";
	 *{
            margin: 0px;
            padding: 0px;
            font-family:"微软雅黑";
        }
        li{
            list-style: none;
            font-family:"微软雅黑";
        }
        #syzt{
            width: 1020px;
            /* height: 510px; */
            height: 540px;
            position: relative;
            margin: 0px auto;
            margin-top:10px;
            margin-bottom:10px;

        }
        /*内容左上页面 登录提醒*/
        #dltx{
            width: 810px;
            height: 126px;
            position: relative;
        }
        #dltx_top{
            width: 810px;
            height:34px;
            line-height: 34px;
            background-color: #E6EFF6;
            position: relative;
        }
        #dltx_top img{
            position: absolute;
            top: 8px;
            left: 10px;
        }
        #dltx_top div{
            font-size: 14px;
            color: #000000;
            height:34px;
            line-height: 34px;
            display: inline;
            position: absolute;
            top: 0px;
            left: 40px;
        }
        /*涉税提醒*/
        #dltx_center{
        	width:405px
            font-size: 12px;
            color: #000000;
            position: absolute;
            top: 40px;
            left: 0px;
        }
        #dltx_center>div{
        	font-size: 12px;
            display: inline;
            margin-left:14px ;
        }
         #dltx_center div div{
            display: inline;
            margin-left: 25px;
        }
        #dltx_center div span{
         	font-size: 12px;
            color: #f12f2f;
        }
        #dltx_center div img{
           position: absolute;
    		top: 2px;
    		left: 10px;
        }
        
        #sstx_title div img{
            position: absolute;
            top: 12px;
        }
        #sstx_title div{
            font-size: 16px;
            color: #1171d6;
            font-weight:bold;
            position: absolute;
            top: 10px;
            left: 28px;
        }
        /* 内容 */
        #sstx_neiron1{
        cursor:pointer;/*鼠标变手*/
         text-align: left;
         width: 380px;
         margin-top: 10px;
         font-size: 14px;
         color:blue;
        }
        #sstx_neiron2{
        cursor:pointer;/*鼠标变手*/
         text-align: left;
         width: 380px;
         /* margin-top: 10px; */
         font-size: 14px;
         color:blue;
        }
        
        /*分割*/
       /*  #sfgxx{
            position: absolute;
            top: 44px;
            left: 405px;
        } */
        /*税务主管*/
        #dltx_right{
            width: 404px;
            height: 92px;
            position: absolute;
            top: 34px;
            left: 406px;
            background-color:#ffffff;
        }
        #dltx_center1 div img{
            position: absolute;
   		    top: 10px;
    		left: 10px;
        }
        #dltx_center1 div div{
            position: absolute;
    		top: 8px;
    		left: 40px;
        }
        #zhuguanshuiwujiguan{
            font-size: 12px;
    		position: absolute;
    		/* top: 0px; */
    		left: 0px;
    		text-align: left;
        }
        #gszgswjg{
        	text-align: left;
       		margin-bottom: 10px;
        }
      
      

        /*内容左下页面 通知信息*/
        /* #tzxx{
            width: 810px;
            height: 364px;
            margin-top: 10px;
        }
        #tzxx table tr{
            width: 810px;
            height: 179px;
        }
        #tzxx table tr td{
            width: 404px;
            height: 179px;
            position: relative;
        } */

        /*申报信息*/
        .tzxx_title{
            width: 375px;
            border-bottom: 1px solid #E4E4E4 ;
            position: absolute;
            top: 14px;
            left: 20px;
        }
        .tzxx_title div{
            font-size: 16px;
            font-weight:bold;
            color: #1171d6;
            padding-left:6px ;
            padding-bottom:5px; 
            text-align: left;
        }
        .tzxx_title hr{
            width: 70px;
            border: 1px solid #0972DE;
            background-color: #0972DE;
        } 
        #sbxxlb{
            width: 345px;
            font-size: 14px;
            position:absolute;
            left: 26px;
            top: 45px;
        }
        .sbxxTitle{
            position: relative;
            margin-top: 3px;
        }
        #sbxxTitle1{
            width: 60px;
            position: absolute;
            top: 8px;

        }
        #wsblb{
            color: red;
        }
        #sbxxTitle2{
            width: 60px;
            position: absolute;
            top: 5px;
			margin-top: 5px;
        }
        .sbxx{
            padding-left: 60px;
            width: 280px;
            line-height: 25px;
            text-align: left;
            position: relative;
    		top: 6px;
    		min-height:20px; 
        }
        /*通知公告*/
        #tzxxzt{
        	cursor:pointer;/*鼠标变手*/
        }
        #tzgglb li{
            cursor:pointer;/*鼠标变手*/
            font-size: 14px;
            width: 375px;
            height: 25px;
            line-height: 25px;
            position: relative;
            top: 20px;
            margin-left: 26px;
        }
        #tzgglb li div{
        	text-align: left;
        }
        .tzrq{
            position: absolute;
            top: 0px;
            right: 5px;
        }
        /*审批结果*/
        #spjg ul{
            position: absolute;
            left: 26px;
            top: 82px;
        }
        #spjg ul li{
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            width: 365px;
            position: relative;
        }
        .otherli{
            /* margin-bottom: 11px; */
        }
        #spjg_biaotou{
            width: 365px;
            color: #000000;
            background-color: #eeeeee;
            /* margin-bottom: 12px; */
            height: 28px;
            line-height: 28px;
            position: absolute;
            top: 50px;
            left: 26px;
        }
        .wsmc{
       	    text-align: left;
            width: 160px;
            position: absolute;
            font-size:14px;
        }
        .sprq{
            text-align: center;
            width: 80px;
            position: absolute;
            left: 190px;
            font-size:14px;
        }
        .zt{
            text-align: center;
            width: 50px;
            position: absolute;
            left: 300px;
            font-size:14px;
        }
        #spjg ul li img{
            cursor:pointer;/*鼠标变手*/
            position: absolute;
            right: 0px;
            top: 3px;
        }

        /*未读邮件*/
        #wdyj ul{
            position: absolute;
            left: 26px;
            top: 82px;
        }
        #wdyj li{
            cursor:pointer;/*鼠标变手*/
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            width: 365px;
            position: relative;
        }
        .otherli1{
           /*  margin-bottom: 1px; */
        }
        #wdyj_biaotou{
            color: #000000;
            background-color: #eeeeee;
            /* margin-bottom: 12px; */
            width: 365px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            position: absolute;
            top: 50px;
            left: 26px;
        }
        .yjbt{
        	text-align: left;
            width: 300px;
            position: absolute;
        }
        .fssj{
            /* text-align: center;
            width: 80px;
            position: absolute;
            right: 0px; */
            text-align: right;
            padding-right:5px;
        }
        /*内容右上页面 万年历*/
        #wnl{
            width: 220px;
            height: 280px;
            position: absolute;
            top: 0px;
            left: 820px;
        }
        #wnl iframe{
            width: 220px;
            height: 260px;
			margin-top:0px;
        }
        #bsrl{
        	width: 220px;
            height: 20px;
            background-color: #1171d6;
            color: white;
            text-align: center;
        }
        /*内容右下页面 办税厅预约*/
        #bstyy{
            width: 220px;
            height: 230px;
            position: absolute;
            top: 278px;
            left: 820px;
        }
        #colee{
            overflow:hidden;
            height:160px;
            width:220px;
        }
        #bstyy li{
            width: 200px;
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            color: #333333;
            margin-left: 10px;
            border-bottom:1px dotted  #333333;
        }

        /*#bstyy li:nth-child(5){
            border: none;
        }*/
        #bstyy li>div{
            position: relative;
        }
        .xianchan{
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .dd{
        	text-align: left;
        }
        #bsyytp{
            cursor:pointer;/*鼠标变手*/
        }
        #bsyytop{
            cursor:pointer;/*鼠标变手*/
        }
        
        
        /*#bstyy marquee{
            border: solid 1px black;
        }*/
        .buy-list {height: 100px;overflow: hidden;line-height: 20px;}
            position: absolute;
            top: 34px;
            left: 10px;
            background-color:#ffffff;
        }

        #dltx_left li{
        	cursor:pointer;/*鼠标变手*/
            position: relative;
        }
        /* #sstx_title img{
            position: absolute;
            top: 12px;
        }
        #sstx_title div{
            font-size: 16px;
            color: #1171d6;
            font-weight:bold;
            position: absolute;
            top: 10px;
            left: 28px;
        } */
        
        
        /*申报相关*/
        #dltx_center div span{
            color: #f12f2f;
        }
        /*分割*/
        #sfgxx{
            position: absolute;
            top: 44px;
            left: 405px;
        }
        /*税务主管*/
       /*  #dltx_right{
            width: 404px;
            height: 92px;
            position: absolute;
            top: 34px;
            left: 406px;
            background-color:#ffffff;
        }
        #dltx_right li{
            position: relative;
            left: 15px;
        } */
        
        #zgswjg_title img{
            position: absolute;
            top: 12px;
        }
        #zgswjg_title div{
            font-size: 16px;
            color: #1171d6;
            font-weight:bold;
            position: absolute;
            top: 10px;
            left: 28px;
        }
        /* #dltx_right li:not(:first-child) div{
            font-size: 14px;
            color: #333333;
            padding-top: 12px;
        } */
        #zgswjg_neiron1{
            position: absolute;
            top: 26px;
        }
        #zgswjg_neiron2{
            position: absolute;
            top: 20px;
        }

        /*内容左下页面 通知信息*/
        #tzxx{
            width: 810px;
            height: 364px;
            /* margin-top: 10px; */
            margin-top: 40px;
        }
        #tzxx table tr{
            width: 810px;
            height: 179px;
        }
        #tzxx table tr td{
            width: 404px;
            height: 179px;
            position: relative;
        }
        
        

       
        
        
        /*通知公告*/
        .tzgg li{
        	cursor:pointer;/*鼠标变手*/
            font-size: 14px;
            width: 375px;
            height: 25px;
            line-height: 25px;
            position: relative;
            top: 30px;
            margin-left: 26px;
        }
       .tzrq{
           position: absolute;
           top: 0px;
           right: 5px;
       }
       /*审批结果*/
       /*  #spjg ul{
            position: absolute;
            left: 26px;
        }
        #spjg ul li{
            font-size: 14px;
            height: 28px;
            line-height: 28px;
            width: 365px;
            position: relative;
        }
        .otherli{
            margin-bottom: 11px;
        }
        #spjg_biaotou{
            width: 365px;
            color: #000000;
            background-color: #eeeeee;
            margin-bottom: 12px;
            height: 28px;
            line-height: 28px;
            position: absolute;
            top: 55px;
            left: 26px;
        }
        .wsmc{
            width: 150px;
            position: absolute;
        }
        .sprq{
            text-align: center;
            width: 80px;
            position: absolute;
            left: 150px;
        }
        .zt{
            text-align: center;
            width: 50px;
            position: absolute;
            left: 230px;
        }
        #spjg ul li img{
       	    cursor:pointer;鼠标变手
            position: absolute;
            right: 0px;
            top: 3px;
        } */

        /*未读邮件*/
        /* #wdyj ul{
            position: absolute;
            left: 26px;
        }
        #wdyj li{
        	cursor:pointer;鼠标变手
            font-size: 14px;
            height: 28px;
            line-height: 28px;
            width: 365px;
            position: relative;
        }
        .otherli1{
            margin-bottom: 1px;
        }
        #wdyj_biaotou{
            color: #000000;
            background-color: #eeeeee;
            margin-bottom: 12px;
            width: 365px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            position: absolute;
            top: 55px;
            left: 26px;
        }
        .yjbt{
            width: 300px;
            position: absolute;
        } */
        
       
      
        /*内容右下页面 办税厅预约*/
        /* #bstyy{
            width: 220px;
            height: 230px;
            position: absolute;
            top: 268px;
            left: 820px;
        }
        #colee{
            overflow:hidden;
            height:160px;
            width:220px;
        }
        #bstyy li{
            width: 200px;
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            color: #333333;
            margin-left: 10px;
            border-bottom:1px dotted  #333333;
        }

        #bstyy li>div{
            position: relative;
        }
        .xianchan{
            position: absolute;
            top: 0px;
            right: 0px;
        }
        #bsyytp{
       	    cursor:pointer;鼠标变手
        }
        .buy-list {height: 100px;overflow: hidden;line-height: 20px;} */