@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script language="javascript" src="/wssb/wssb/public/js/jquery-1.7.2.min.js"></script>
    <script language="javascript" src="/wssb/wssb/public/js/changeMenu.js"></script>

    <script type="text/javascript">
        var table_action = "submit";
        var rtnCgbz = "10";
        function load() {
            alert("申报成功")
        }
    </script>

</head>
<body>
    <div>
    申报成功
    </div>
</body>
</html>
