



<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>小企业会计准则财务报表-资产负债表</title>







<script language="javascript"  src="/wssb/wssb/public/js/jquery-1.7.2.min.js"></script>
<script language="javascript"  src="/wssb/wssb/cwxx2016/CWXX2016XQYKJZZ_ZCFZB.js"></script>
<script language="javascript"  src="/wssb/wssb/public/js/pub.js"></script>
<script language="javascript"  src="/wssb/wssb/public/js/commonNew.js"></script>
<script language="javascript"  src="/wssb/wssb/public/js/text.js"></script>
<script language="javascript"  src="/wssb/wssb/public/js/wssbCommon.js"></script>

<link rel="stylesheet" href="/wssb/wssb/public/style/link.css" type="text/css">
</head>

<body marginwidth = "0" marginheight = "0"  topmargin = "0" leftmargin="0">
<table width="1300px" height="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <!--菜单列-->
    <!--<td width="161" align="left" height="100%">
    
    </td>-->

    <!--内容列-->
    <td height="100%" align="center">
	    <br />
        
	<form name="xform" method="POST">
	<table width="95%" border="0"  align="center" >
		<tr>
			<td align="center"><font size="3"><strong>资产负债表（适用执行小企业会计准则的企业）</strong></font></td>
		</tr>  
	    <tr>
	        <td>&nbsp;</td>
	    </tr>
	    <tr>
	        <td>
<script language="javascript" src="/wssb/wssb/public/js/configstyle.js"></script>


<table width="100%" border="0"  align="center">
	<tr>
		<td width="40%">纳税人识别号：91350200MA2Y6UGR9M</td>
		<td colspan="2">纳税人名称：厦门动听资产管理有限公司</td>
	</tr>
	<tr>
		<td width="40%">所属时期：20190101 至 20190331</td>
		<td width="30%">填表日期：20190412</td>
		<td align="right">金额单位：元(列至角分)</td>
	</tr>
</table></td>
	    </tr>
	</table>
	
	<table id="inputTable" width="95%" color="#E8ECE8" border="1" align="center" cellpadding="0" cellspacing="0" class="SBB" bordercolor='#C4C6C4'  bordercolordark='#ffffff' borderColorLight=#999999 >
	    <tr style=" line-height: 20px;">
	    	<td width="21%" align="center">资产</td>
	    	<td width="5%" align="center">行次</td>
	    	<td width="12%" align="center">期末余额</td>
	    	<td width="12%" align="center">年初余额</td>
	    	<td width="21%" align="center">负债和所有者权益</td>
	    	<td width="5%" align="center">行次</td>
	    	<td width="12%" align="center">期末余额</td>
	    	<td width="12%" align="center">年初余额</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left" colspan="4">&nbsp;流动资产:</td>
	    	<td align="left" colspan="4">&nbsp;流动负债:</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;货币资金</td>
	    	<td align="center">1</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_1" type="text" onchange="changeValue_qmye();" value="11523.56" class="input_money_readonly" readonly="readonly" originValue="11523.56 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_1" type="text" onchange="changeValue_ncye();" value="11535.99" class="input_money_readonly" readonly="readonly" originValue="11535.99 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短期借款</td>
	    	<td align="center">31</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_31" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_31" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短期投资</td>
	    	<td align="center">2</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_2" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_2" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应付票据</td>
	    	<td align="center">32</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_32" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_32" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应收票据</td>
	    	<td align="center">3</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_3" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_3" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应付账款</td>
	    	<td align="center">33</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_33" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_33" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应收账款</td>
	    	<td align="center">4</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_4" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_4" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预收账款</td>
	    	<td align="center">34</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_34" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_34" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预付账款</td>
	    	<td align="center">5</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_5" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_5" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应付职工薪酬</td>
	    	<td align="center">35</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_35" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_35" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应收股利</td>
	    	<td align="center">6</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_6" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_6" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应交税费</td>
	    	<td align="center">36</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_36" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_36" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应收利息</td>
	    	<td align="center">7</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_7" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_7" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应付利息</td>
	    	<td align="center">37</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_37" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_37" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他应收款</td>
	    	<td align="center">8</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_8" type="text" onchange="changeValue_qmye();" value="59982000" class="input_money_readonly" readonly="readonly" originValue="59982000 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_8" type="text" onchange="changeValue_ncye();" value="59982000" class="input_money_readonly" readonly="readonly" originValue="59982000 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应付利润</td>
	    	<td align="center">38</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_38" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_38" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存货</td>
	    	<td align="center">9</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_9" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_9" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他应付款</td>
	    	<td align="center">39</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_39" type="text" onchange="changeValue_qmye();" value="20000" class="input_money_readonly" readonly="readonly" originValue="20000 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_39" type="text" onchange="changeValue_ncye();" value="20000" class="input_money_readonly" readonly="readonly" originValue="20000 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其中:原材料</td>
	    	<td align="center">10</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_10" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_10" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他流动负债</td>
	    	<td align="center">40</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_40" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_40" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在产品</td>
	    	<td align="center">11</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_11" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_11" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;流动负债合计</td>
	    	<td align="center">41</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_41" type="text" onchange="changeValue_qmye();" value="20000" class="input_money_readonly" readonly="readonly" originValue="20000 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_41" type="text" onchange="changeValue_ncye();" value="20000" class="input_money_readonly" readonly="readonly" originValue="20000 "/>
	    	</td>
	    </tr>	    
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;库存商品</td>
	    	<td align="center">12</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_12" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_12" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;非流动负债:</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周转材料</td>
	    	<td align="center">13</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_13" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_13" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期借款</td>
	    	<td align="center">42</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_42" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_42" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>	    
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他流动资产</td>
	    	<td align="center">14</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_14" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_14" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期应付款</td>
	    	<td align="center">43</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_43" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_43" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>	    
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;流动资产合计</td>
	    	<td align="center">15</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_15" type="text" value="59993523.56" class="input_money_readonly" readonly="readonly" originValue="59993523.56 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_15" type="text" value="59993535.99" class="input_money_readonly" readonly="readonly" originValue="59993535.99 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;递延收益</td>
	    	<td align="center">44</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_44" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_44" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>	    
	    <tr style=" line-height: 20px;">
	    	<td align="left" colspan="4">&nbsp;非流动资产:</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他非流动负债</td>
	    	<td align="center">45</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_45" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_45" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>	    
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期债券投资</td>
	    	<td align="center">16</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_16" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_16" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非流动负债合计</td>
	    	<td align="center">46</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_46" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_46" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>	    
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期股权投资</td>
	    	<td align="center">17</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_17" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_17" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负债合计</td>
	    	<td align="center">47</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_47" type="text" value="20000" class="input_money_readonly" readonly="readonly" originValue="20000 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_47" type="text" value="20000" class="input_money_readonly" readonly="readonly" originValue="20000 "/>
	    	</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;固定资产原价</td>
	    	<td align="center">18</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_18" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_18" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;减:累计折旧</td>
	    	<td align="center">19</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_19" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_19" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;固定资产账面价值</td>
	    	<td align="center">20</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_20" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_20" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在建工程</td>
	    	<td align="center">21</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_21" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_21" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工程物资</td>
	    	<td align="center">22</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_22" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_22" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;固定资产清理</td>
	    	<td align="center">23</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_23" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_23" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;</td>
	    </tr>
	    <tr>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生产性生物资产</td>
	    	<td align="center">24</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_24" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_24" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left" colspan="4">&nbsp;所有者权益(或股东权益): </td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无形资产</td>
	    	<td align="center">25</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_25" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_25" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实收资本(或股本)</td>
	    	<td align="center">48</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_48" type="text" onchange="changeValue_qmye();" value="60000000" class="input_money_readonly" readonly="readonly" originValue="60000000 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_48" type="text" onchange="changeValue_ncye();" value="60000000" class="input_money_readonly" readonly="readonly" originValue="60000000 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开发支出</td>
	    	<td align="center">26</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_26" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_26" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资本公积</td>
	    	<td align="center">49</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_49" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_49" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期待摊费用</td>
	    	<td align="center">27</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_27" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_27" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;盈余公积</td>
	    	<td align="center">50</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_50" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_50" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他非流动资产</td>
	    	<td align="center">28</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_28" type="text" onchange="changeValue_qmye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_28" type="text" onchange="changeValue_ncye();" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未分配利润</td>
	    	<td align="center">51</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_51" type="text" onchange="changeValue_qmye();" value="-26476.44" class="input_money_readonly" readonly="readonly" originValue="-26476.44 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_51" type="text" onchange="changeValue_ncye();" value="-26464.01" class="input_money_readonly" readonly="readonly" originValue="-26464.01 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非流动资产合计</td>
	    	<td align="center">29</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_29" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_29" type="text" value="0" class="input_money_readonly" readonly="readonly" originValue="0 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有者权益(或股东权益)合计</td>
	    	<td align="center">52</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_52" type="text" value="59973523.56" class="input_money_readonly" readonly="readonly" originValue="59973523.56 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_52" type="text" value="59973535.99" class="input_money_readonly" readonly="readonly" originValue="59973535.99 "/>
	    	</td>
	    </tr>
	    <tr style=" line-height: 20px;">
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资产合计</td>
	    	<td align="center">30</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_30" type="text" value="59993523.56" class="input_money_readonly" readonly="readonly" originValue="59993523.56 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_30" type="text" value="59993535.99" class="input_money_readonly" readonly="readonly" originValue="59993535.99 "/>
	    	</td>
	    	<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负债和所有者权益(或股东权益)总计</td>
	    	<td align="center">53</td>
	    	<td align="center">
	    		<input id="wssb" name="QMYE_53" type="text" value="59993523.56" class="input_money_readonly" readonly="readonly" originValue="59993523.56 "/>
	    	</td>
	    	<td align="center">
	    		<input id="wssb" name="NCYE_53" type="text" value="59993535.99" class="input_money_readonly" readonly="readonly" originValue="59993535.99 "/>
	    	</td>
	    </tr>
	</table>
	
	  <p>
	  
	    <input type="hidden" name="TABLE_NAME" value="CWXX2016XQYKJZZ_ZCFZB">
	    <input  type="hidden"  name="TABLE_ACTION"   value="display">
	    <input  type="hidden"  name="NSRSBH"   value="91350200MA2Y6UGR9M">
	    <input  type="hidden"  name="NSRMC"   value="厦门动听资产管理有限公司">
	    <input  type="hidden"  name="SSSQ_Q"   value="20190101">
	    <input  type="hidden"  name="SSSQ_Z"   value="20190331">
	
	<div align="center">
	  <!--修改在离开页面触发isSave,edit by zhonggc,20060531-->
<!--body onbeforeunload="return isSave();" -->


<body>
<input type="hidden" name="isSave" value="yes">
<!--用于控制退出时是否提示 no-提示 yes-不提示-->

<!-- 申报更正按钮只在申报之后才显示，正式提交按钮在申报后就不显示 -->
<!-- 申报更正按钮 -->

<span style=" cursor: pointer;" onclick="javascript:doRollbackSbzt('155503809839431');" class="btnclass">
	申&nbsp;&nbsp;报&nbsp;&nbsp;更&nbsp;&nbsp;正
</span>


&nbsp;&nbsp;








<input type="hidden" value="false" id ="cnmce" />
<input type="hidden" value="CWXX2016XQYKJZZ_ZCFZB" id ="wssbtableName" />
<a id="div_exit" href="./MainServlet?TABLE_NAME=INFORMATION&TABLE_ACTION=display&NSRSBH=91350200MA2Y6UGR9M" class="btnclass">
  	退&nbsp;&nbsp;出
</a>
&nbsp;

<script language="javascript">

            function deletesbb()
            {
               if(confirm("是否真的作废申报表？")==true)
               {
                  frmdelete();
               }
               else
               {
                  //如果不删除时则恢复退出提示
                  document.all("isSave").value = "no";
               }
            }

            //在关闭页面前提示用户是否保存
            function isSave()
            {
               var flag = document.all("isSave").value;
               if(flag != "yes")
               {
                  return "请确定在离开页面之前先保存数据！";
               }
               return;
            }

            function setSave()  //设置退出不提示
            {
               document.all("isSave").value = "yes";
            }

			function setDisable(but,b_true){
			  but.disabled=b_true;
			}

			
			function doRollbackSbzt(pzxh)
			{
				
				if(confirm("是否确认进行申报更正？"))
                {
					$.ajax({
						   type: "POST",
						   async: false,
						   url: "/wssb/CommonDataServlet",
						   data: "type=4&pzxh="+ pzxh,
						   success: function(msg){

							   //执行成功，跳转至主表的编辑页面						
						   	   if($.trim(msg) == '1')
						   	   {
								   	changeMenuState();
									location.href = "./MainServlet?TABLE_NAME=CWXX2016XQYKJZZ_ZCFZB&TABLE_ACTION=edit&NSRSBH=91350200MA2Y6UGR9M&SSSQ_Q=20190101&SSSQ_Z=20190331";
						   	   }
						   	   else
						   	   {
						   		   alert("执行申报更正出错!");
						   	   }
						   }
					});
                }
			}
			//【更正申报】更新左边的菜单
			function changeMenuState(){
			   	var submitUrl = "MainServlet?TABLE_NAME=CWXX2016XQYKJZZ_ZCFZB&TABLE_ACTION=submit&NSRSBH=91350200MA2Y6UGR9M&SSSQ_Q=20190101&SSSQ_Z=20190331";
			   	var yqsqq = "20190101";
			   	var yqsqz = "20190331";
			   	var nsrsbh = "91350200MA2Y6UGR9M";
			   	var leftFrameWin = parent.$("#leftFrame")[0].contentWindow;
			   	var click_node_input_id = leftFrameWin.$("#click_input_id").val();//left菜单节点点击的菜单ID
			   	var save_status = leftFrameWin.$("#"+click_node_input_id+"_SAVE_SPAN");
			   	var table_url_input = leftFrameWin.$("#"+click_node_input_id);
			   	var saveSpan = leftFrameWin.$("#"+click_node_input_id+"").closest("div.nav-tow");
			   	var saveState = $(".savestate",saveSpan);
				saveState.each(function(i){
					var table_url_submit = $(this).prev("input");
					if("Y" == $(this).attr("zssb")){
						$(this).html("");
						table_url_submit.val(submitUrl);
					}
					//由于申报更正后并且未重新刷新页面时要给未保存的表重新赋url add by zwx20180815
					if($(this).attr("state") != "submit"){
						var idStr = $(this).attr("id");
						if(idStr.indexOf("_NB_") > -1 && idStr.indexOf("_NB_CX_") == -1){
							var tableStr = idStr.substring(0,idStr.indexOf("_NB_"));
							var gzUrl = "MainServlet?TABLE_NAME="+ tableStr +"_NB&TABLE_ACTION=initial&NSRSBH="+ nsrsbh +"&SSSQ_Q="+ yqsqq +"&SSSQ_Z="+yqsqz;
							table_url_submit.val(gzUrl);
						}
					}
					if($(this).attr("state") == "submit"&&$(this).attr("zssb")!="Y"){
						$(this).html("(已保存)");
						$(this).attr({state:"save"});
						table_url_submit.val(table_url_submit.val().replace("display","edit"));
					}
				});
			}
			function zssbkk(){
				var wssbpath = "../../..//wssb/MainServlet?TABLE_NAME=CWXX2016XQYKJZZ_ZCFZB&TABLE_ACTION=submit&NSRSBH=91350200MA2Y6UGR9M&SSSQ_Q=20190101&SSSQ_Z=20190331";
				var isfwsk = $("#cnmce").val();
				var wssbtableName = $("#wssbtableName").val();
				//Y: 是, N:否
				var nr = "";
				var zckdiv = "";
				if(wssbtableName.indexOf("CWXX2013") == -1 && wssbtableName.indexOf("CWXX2016") == -1){
					if(isfwsk == true){
						nr = "<p><input type=\"radio\" value=\"y\" checked=\"checked\" name=\"kk\" id=\"cnm1\" />" +
								"<b>“立即扣款”</b>：“清卡”正式申报时实时扣款。</p>"+
						   "<p><input type=\"radio\" value=\"n\" name=\"kk\" id=\"cnm2\"  onclick=\"opendia('"+wssbpath+"')\"/>" +
						   "<b>“暂不扣款”</b>：“清卡”正式申报时不扣款，需在正式申报成功后，操作“税费缴纳（网上申报）” 执行扣款。</p>"+
						   "<p><b>说明：税控纳税人柜台“清卡”正式申报，统一为“立即扣款”。</b></p>";
					}else{
						nr = "<p><input type=\"radio\" value=\"y\" checked=\"checked\" name=\"kk\" id=\"cnm1\" />" +
						"<b>“立即扣款”</b>：正式申报并实时扣款。</p>"+
						   "<p><input type=\"radio\" value=\"n\" name=\"kk\" id=\"cnm2\"  onclick=\"opendia('"+wssbpath+"')\"/>" +
						   "<b>“暂不扣款”</b>：正式申报不扣款，需在正式申报成功后，操作“税费缴纳（网上申报）” 执行扣款。</p>";
					}
					////财务报表不用执行扣款
					zckdiv = parent.$.dialog({
						lock:true,
						id:'tips1',
						content:"<script>var kkval = $(\"#kkval\").val();if(kkval == \"y\"){$(\"input[name=kk]:eq(0)\").attr(\"checked\",\"checked\");"+
						 "}else if(kkval == \"n\"){$(\"input[name=kk]:eq(1)\").attr(\"checked\",\"checked\");}<\/script>" +
							"<div id=\"ts\"><div style=\"width:450px; margin:auto; height:230px;text-align:center; border-radius: 5px;\">"+
						  "<div id=\"tstitle\"></div>  <div style=\" border: 1px solid #eee; border-top:none; background: #fff;  \">" +
						  " <h1>确认提交申报表？请选择扣款方式：</h1>"+nr+" <div id=\"btn\"><a href=\"javascript:kklc('"+wssbpath+"');\">确定</a>" +
					       "<a href=\"javascript:gbck();\">取消</a></div>  </div>  </div></div> ",
						width:'450px',
						height:'240px',
						esc: false,  
						title:false,
						cancel:false
				     });
				}else{
					if(confirm("请确认是否正式申报?")){
						parent.document.getElementById("workspace").src = wssbpath;
						window.parent.showOverlay();
					}
				}
			}
            </script></body>

	</div>
	
	</form>
</td>
</tr>

</table>
<br />
           
<div id="div_status" style="position:absolute; left:45%; top:80%; visibility:hidden; z-index:2;">
 <table width="280" height="100" border=1 cellspacing=0 cellpadding=0 bgcolor="#CCFFCC">
    <tr>
      <td align=center>正在处理中，请耐心等待。。。。！<br /><br />
	  <font color="red" size="2" ><strong>请不要重复刷新页面，以免出现重复申报或重复扣款！！！</strong></font>
	  </td>
    </tr>
    
  </table>
</div> 
<script type="text/javascript">
 $(function(){contentready();});
</script> 
</body>
</html>