@model JlueTaxSystemXiaMenBS.Models.ZzsYgzYbnsrPublic

<table width="100%" border="0" align="center">
    <tr>
        <td width="40%">纳税人识别号：@Model.Nsrxx.NSRSBH</td>
        <td colspan="2">纳税人名称：@Model.Nsrxx.NSRMC</td>
    </tr>
    <tr>
        <td width="40%">所属时期：@Model.GDTXDate.skssqq 至 @Model.GDTXDate.skssqz</td>
        <td width="30%">填表日期：@Model.GDTXDate.tbrq</td>
        <td align="right">金额单位：元(列至角分)</td>
    </tr>
</table>