/* CSS Document */
body {
	font-family: "", Arial, Tahoma, Helvetica, "\5b8b\4f53";
	font-size: 12px;
	line-height: 24px;
	background: #;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

/*表格部分*/
.h16_bold {
	font-size: 14px;
	color: #000;
	line-height: 30px;
	font-weight: bold;
}

.h12_bold {
	font-size: 12px;
	color: #000;
	line-height: 30px;
	font-weight: bold;
}

.h12_b {
	font-size: 12px;
	color: #000;
	line-height: 26px;
}

.h12_gray {
	font-size: 12px;
	line-height: 26px;
}

.border{
	border: 1px solid #e7e7e7;
}

/*说明*/
.shuoming_border {
	border: 1px solid #aae0fb;
}

/*bottom*/
.bottom_hengxian {
	background-color: #1a70c1;
	height: 3px;
}

.bottom_bg {
	background-color: #fafafa;
}

.STYLE1 {
	color: #990000;
}

.STYLE2 {
	color: #000000;
	font-weight: bold;
}

.loading {
	position: absolute;
	z-index: 91000;
	top: 41px;
	left: 0;
	background: white url("../images/bigloading.gif") no-repeat center 40%;
	width: 100%;
	height: 100%;
}
/*界面表格*/
.tbboder{
	margin:30px;
	border:1px solid #000000;
	border-collapse: collapse;
}
.tbboder td{
	border:1px solid #000000;
}
.tbpadding{
	padding-left:13px;
	
}